
// .home-page {
//     .page-content {
//         .title, .subtitle {
//             font-weight: bold ;
//             font-size: 1.2rem ;
//         }
//         p {
//             font-size: 1rem ;
//             line-height: 1.2rem ;
//         }
//         .screenshot {
//             img {
//                 width: 100% ;
//             }
//         }
//     }
// }

.home-page {
    height: 100vh ;
    .page-content {
        overflow: scroll ;
        .welcome-block {
            padding: 2rem 4rem ;
        }
        .features-block {
            padding: 1rem 2rem ;
            background-color: $lighter-grey ;
            .feature {
                .feature-image {
                    width: 50px ;
                }
                .content {
                    p {
                        margin: 0 ;
                        line-height: 1rem ;
                    }
                }
            }
        }
    }
    .home-footer {
        height: $header-height ;
        background: $dark-blue ;
    }
}
