
.room-page {
    $left-panel-width: 300px ;
    $right-panel-width: 400px ;
    $header-height: 200px ;
    $send-message-height: 60px ;

    .room-header {
        flex: 0 0 $header-height ;
        border-bottom: 1px solid $black ;

        .info-block {
            flex: 0 0 $left-panel-width ;
            border-right: 1px solid $black ;

            table {
                th {
                    color: $dark-blue ;
                    font-size: 1.2rem ;
                    text-decoration: underline ;
                }
                td {
                    color: $black ;
                }
            }
        }
        .title-block {
            .title {
                font-size: 2rem ;
                font-weight: bold ;
                line-height: 2rem ;
            }
            .room-id {
                font-size: 1.2rem ;
            }
            div {
                color: $dark-blue ;
            }
        }
    }
    .page-content {
        @import 'room-panels/userlist';
        @import 'room-panels/messages';
        @import 'room-panels/tasks';
        @import 'room-panels/viewfiles';
    }
}
