
.signup-page {
    height: 100vh ;
    background-color: $dark-blue ;

    .signup-container {
        margin: 0 auto ;
        max-width: 400px ;

        .signup-header {
            padding: 80px 0 40px;
            .logo-image {
                img {
                    width: 60px ;
                }
            }
            .logo-text {
                .title {
                    font-weight: bold ;
                    color: inherit ;
                    font-size: 3rem ;
                    line-height: 2rem ;
                }
                .subtitle {
                    color: inherit ;
                    font-size: 1rem ;
                }
            }
        }


        .signup-block {

            .signup-form {
                label {
                    margin-bottom: 0 ;
                }
                .form-group {
                    margin-bottom: .5rem ;
                }
                .account-type select {
                    width: auto ;
                }
            }

            .pw-forgot {
                font-size: .6rem ;
            }
        }
    }
}
