
.signin-page {
    margin: 0 auto ;
    max-width: 509px ;

    .signin-header {
        padding: 100px 0 ;
        .logo-image {
            img {
                width: 80px ;
            }
        }
        .logo-text {
            color: $dark-blue ;
            .title {
                font-weight: bold ;
                color: inherit ;
                font-size: 3rem ;
                line-height: 2rem ;
            }
            .subtitle {
                color: inherit ;
                font-size: 1rem ;
            }
        }
    }


    .signin-block {
        background-color: $grey ;
        border: 1px solid $black ;

        .title {
            font-size: 1.5rem ;
        }

        .signin-form {
            font-size: 1.2rem ;

            input {
                border: none ;
                width: 100% ;
                padding-left: 5px ;
            }
        }

        .pw-forgot {
            font-size: .6rem ;
        }
    }
}
