
$border-default: rgb(35, 31, 32);
$border-dark: rgb(65, 64, 66);
$color-disabled: rgb(147, 149, 152);

$black: rgb(35, 31, 32);
$dark-blue: rgb(24, 56, 99);

$grey: rgb(209, 211, 212);
$lighter-grey: rgb(241, 242, 242);
$dark-grey: rgb(167, 169, 172);
$darker-grey: rgb(88, 89, 91);

$red: rgb(190, 30, 45);
$green: rgb(0, 148, 68);
$orange: rgb(241, 90, 41);

$light-blue: rgb(29, 170, 225);

$dark-yellow: rgb(194, 181, 155);
