
@import 'color';

body, div, a, span, p, h1, h2, h3, h4, h5, h6, table, thead, tbody, th, td {
    color: $black ;
}

button {
    &.button-sm {
        height: 20px ;
    }
    &.button-md {
        height: 30px ;
    }
    &.button-lg {
        height: 40px ;
    }
    border: none ;

    &.button-grey {
        color: white ;
        background-color: $darker-grey ;
    }
    &.button-blue {
        color: white ;
        background-color: $dark-blue ;
    }
    &.button-red {
        color: white ;
        background-color: $dark-red ;
    }
    &.button-green {
        color: white ;
        background-color: $green ;
    }
    &.button-orange {
        color: white ;
        background-color: $orange ;
    }
    &.button-transparent {
        border: none ;
        background-color: transparent ;
    }

    &:hover {
        cursor: pointer ;
        opacity: 0.5;
    }
}

input {
    width: 100% ;
}

.color-disabled {
    color: $color-disabled ;
}


table.mytable {
    th {
        background-color: $grey ;
        border-right: 1px solid $border-dark ;
        border-bottom: none ;
    }
    tr:nth-child(odd) {
        background-color: $lighter-grey ;
    }
    td {
        padding: .3rem 2rem ;
        border: none ;
        vertical-align: middle ;
    }
}
