
@import 'layout/header';
@import 'layout/sidebar';
@import 'layout/modal';

.layout {
    height:100vh ;
    border: 1px solid $border-default ;

    .main-content {
        background-color: white ;

        .page-content {
            background-color: white ;
        }
    }
}
