
@import 'layout/header.scss';
@import 'layout/sidebar.scss';
@import 'layout/modal.scss';

.layout {
    height:100vh ;
    border: 1px solid $border-default ;

    .main-content {
        background-color: white ;

        .page-content {
            background-color: white ;
        }
    }
}
