
@import 'color.scss';

.viewfiles-panel {
    .header {
        position: relative ;
        background-color: $dark-blue ;

        &:hover {
            cursor: pointer ;
        }

        .back {
            position: absolute ;
            left: 10px ;

            img {
                width: 30px ;
            }
            span {
                color: white ;
                font-size: 1.5rem ;
            }
        }

        .title {
            color: white ;
            font-size: 1.5rem ;
        }
    }
    .documents-table {
        .head {
            height: 50px ;
            background-color: $darker-yellow ;
            div {
                font-size: 1rem ;
            }
        }
        .body {
            .room-block {
                height: 40px ;
                background-color: $dark-yellow ;
            }
            .document-block {
                height: 40px ;
                .actions {
                    img {
                        width: 20px ;
                    }
                    .open {
                        width: 80px ;
                        height: 40px ;
                        background-color: $dark-grey-open ;
                        border: none ;
                    }
                }
                &:nth-child(odd) {
                    background-color: $grey;
                }
                &:nth-child(even) {
                    background-color: $lighter-grey;
                }
            }
        }
    }
    .footer {
        img {
            width: 20px ;
        }
    }
}