
.header-default {
    flex: 0 0 $inner-header-height ;
    border-bottom: 1px solid $border-default ;

    .title {
        font-size: 1rem ;
    }
}

.header-blue {
    color: $dark-blue ;

    .title {
        color: $dark-blue ;
    }
}

.room-header {
    flex: 0 0 $roomheader-height ;
    border-bottom: 1px solid $black ;

    .info-block {
        flex: 0 0 $left-panel-width ;
        border-right: 1px solid $black ;

        table {
            th {
                color: $dark-blue ;
                font-size: 1.2rem ;
                text-decoration: underline ;
            }
            td {
                color: $black ;
            }
        }
    }
    .title-block {
        .title {
            font-size: 2rem ;
            font-weight: bold ;
            line-height: 2rem ;
        }
        .room-id {
            font-size: 1.2rem ;
        }
        div {
            color: $dark-blue ;
        }
    }
}

.header {
    flex: 0 0 $header-height ;
    background: $dark-blue ;

    .logo {
        img {
            width: 30px ;
        }
        .logo-text {
            div {
                line-height: 1rem ;
            }
        }
    }
    .help {
        img {
            width: 20px ;
        }
    }
}
