
.tasks-panel {
    flex: 0 0 $right-panel-width ;
    border-left: 1px solid $black ;

    .explorer-view {
        tr.group {
            background-color: $light-grey ;
        }
        tr.content {
            background-color: $lighter-grey ;
        }
    }

    .view-files {
        button {
            color: $dark-blue ;
            border: 1px solid $dark-blue ;

            span {
                font-size: 1rem ;
            }
        }
    }
}
